<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <link href="/static/fonts/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <title>{{ page_title|title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% endblock %}
<body>
<div class="container">
    <div class="prod-header padding-site">
        <div class="header clearfix">
                <div class="hero-white">
        {% include 'firstapp/includes/inc__main_menu.html' %}
    </div>
            <a href=""><img src="/static/img/logo.svg" alt="logo"></a>
                   </div>

        <div class="pagination">

            <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
        </div>
    </div>
{% block conteiner %}
<h1>Test</h1>
{% endblock %}
{% block featured_main %}
{% endblock %}
