<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<body>
{% block head %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link href="/static/fonts/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
        <!--load all styles -->
        <title>{{ page_title|title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
        {% block title %}
            <title>
                {{ page_title|title }}
            </title>
        {% endblock %}
{% endblock %}

{% block conteiner %}
{% endblock %}

{% block footer %}
    <div class="footer padding-site">
        <div class="footer-text-columns">
            <div class="footer-text-col1">
                <h2>Свяжитесь с нами</h2>
                <p>132A Bridge Road Richmond VIC
                    Australia.</p>
                <p>
                    Talk to us on 1300 132
                    info@interior.com</p>
            </div>
            <div class="footer-text-col2">
                <h2>Полезная информация</h2>
                <a id="first-foot-link" href="#">Скидки</a>
                <a href="#">Инфо. для заказчика</a>
                <a href="#">Доставка</a>
            </div>
            <div class="footer-text-col3">
                <a href="#">Создать аккаунт</a>
                <a href="#">Карьера</a>
                <a href="#">Обмен &amp; возврат</a>
            </div>
            <div class="footer-text-col4">
                <h2>Давайте оставаться на связи!</h2>
                <p>Подпишитесь, чтобы узнать о наших последних новостях, продуктах и специальных предложениях только для
                    подписчиков.</p>
                <input type="text" class="email" placeholder="your email address">
            </div>
        </div>
        <div class="footer-social">
            <p>&copy; Copyright - INTERIOR {% now "  Y" %}. All Rights Reserved.</p>
            <div class="social-buttons-link">
                <a class="soc-links" href="#"><i class="fab fa-facebook"></i></a> <!-- uses brands style -->
                <a class="soc-links" href="#"><i class="fab fa-twitter"></i></a> <!-- uses brands style -->
                <a class="soc-links" href="#"><i class="fab fa-google-plus"></i></a> <!-- uses brands style -->
                <a class="soc-links" href="#"><i class="fab fa-youtube"></i></a> <!-- uses brands style -->
            </div>
            <p id="privat-privasy">Услования &amp; Правила / Политика приватности &amp; Cookies</p>
        </div>
    </div>
{% endblock %}

</body>
</html>