{% extends 'firstapp/base2.html' %}

{% block conteiner %}


    <div class="details">
        {% include 'firstapp/includes/inc__category_menu.html' %}

        <div class="related featured-main">
            <div class="title clearfix">
                <h2>Продукты в категории {{ categories.name }}</h2>
            </div>
            <div class="related-products clearfix featured-prod">
                {% for product in products %}
                    <div class="featured-prod">
                        <div class="featured-back">
                            <div class="featured-background">
                                <img class="featured-background" src="/static/img/back.png" alt="back">
                            </div>
                            <div class="featured-back-circle">
                                <img src="/static/img/back-circle.jpg" alt="circle" class="circle-back">
                            </div>

                            <div class="featured-text">
                                <h2 class="featured-h2">{{ product.name }}</h2>
                                <p class="featured-content">Seat and back with upholstery made of cold cure foam</p>
                            </div>
                        </div>
                        <div class="featured-front">
                            <a href="{% url 'basket:add' product.pk %}">
                            <img src="/media/{{ product.image }}" alt=""></a>
                        </div>
                            <div class="text clearfix">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.short_desc }}</p>

                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}