<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'fonts/fontawesome-free-5.13.0-web/css/all.css' %}" rel="stylesheet">
    <!--load all styles -->
    <title>Geekbrains HW-07</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="contact-header menu-container clearfix padding-site">
            <a href=""><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
            {% block menu %}
                {% include 'firstapp/includes/inc__main_menu_3.html' %}
            {% endblock %}

            </ul>
            <p class="contact">Contact Us</p>
        </div>
        <div class="map-blocks-container">
            <div class="maps-blocks-content padding-site">
                <div class="map-block1">
                    <img src="{% static 'img/back-contact.svg' %}" alt="back-contact">
                    <div class="map-marker">
                        <div class="map-text-block">
                            <img src="{% static 'img/iconfinder_location.png' %}" alt="map-icon">
                            <div class="map-text">
                                <p class="state">CALIFORNIA</p>
                                <div class="phone">
                                    <p>Phone:</p>
                                    <p>1900-1234-5678</p>
                                </div>
                                <div class="email">
                                    <p>Email: </p>
                                    <p>info@interior.comp</p>
                                </div>
                                <div class="address">
                                    <p>Address:</p>
                                    <p>12 W 1st St. 90001 Los Angeles, California</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="map-block2">
                    <img src="{% static 'img/back-contact.svg' %}" alt="back-contact">
                    <div class="map-marker">
                        <div class="map-text-block">
                            <img src="{% static 'img/iconfinder_location.png' %}" alt="map-icon">
                            <div class="map-text">
                                <p class="state">CALIFORNIA</p>
                                <div class="phone">
                                    <p>Phone:</p>
                                    <p>1900-1234-5678</p>
                                </div>
                                <div class="email">
                                    <p>Email: </p>
                                    <p>info@interior.comp</p>
                                </div>
                                <div class="address">
                                    <p>Address:</p>
                                    <p>12 W 1st St. 90001 Los Angeles, California</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-block3">
                    <img src="{% static 'img/back-contact.svg' %}" alt="back-contact">
                    <div class="map-marker">
                        <div class="map-text-block">
                            <img src="{% static 'img/iconfinder_location.png' %}" alt="map-icon">
                            <div class="map-text">
                                <p class="state">CALIFORNIA</p>
                                <div class="phone">
                                    <p>Phone:</p>
                                    <p>1900-1234-5678</p>
                                </div>
                                <div class="email">
                                    <p>Email: </p>
                                    <p>info@interior.comp</p>
                                </div>
                                <div class="address">
                                    <p>Address:</p>
                                    <p>12 W 1st St. 90001 Los Angeles, California</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container">
        <div class="footer padding-site">
            <div class="footer-text-columns">
                <div class="footer-text-col1">
                    <h2>Contact Us</h2>
                    <p>132A Bridge Road Richmond VIC
                        Australia.</p>
                    <p>
                        Talk to us on 1300 132
                        info@interior.com</p>
                </div>
                <div class="footer-text-col2">
                    <h2>Useful Information</h2>
                    <a id="first-foot-link" href="#">Sales terms</a>
                    <a href="#">Customer care</a>
                    <a href="#">Delivery</a>
                </div>
                <div class="footer-text-col3">
                    <a href="#">Architect accounts</a>
                    <a href="#">Careers</a>
                    <a href="#">Exchanges &amp; returns</a>
                </div>
                <div class="footer-text-col4">
                    <h2>Let’s Stay in Touch!</h2>
                    <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <input type="text" class="email" placeholder="your email address">
                </div>
            </div>
            <div class="footer-social">
                <p>&copy; Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <div class="social-buttons-link">
                    <a class="soc-links" href="#"><i class="fab fa-facebook"></i></a> <!-- uses brands style -->
                    <a class="soc-links" href="#"><i class="fab fa-twitter"></i></a> <!-- uses brands style -->
                    <a class="soc-links" href="#"><i class="fab fa-google-plus"></i></a> <!-- uses brands style -->
                    <a class="soc-links" href="#"><i class="fab fa-youtube"></i></a> <!-- uses brands style -->
                </div>
                <p id="privat-privasy">Terms &amp; Conditions / Privacy policy &amp; Cookies</p>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
