<!DOCTYPE html>
{% extends 'firstapp/base.html' %}
{% load static %}
<html lang="en">

<body>
<div class="container">
    <div class="slider padding-site">
        <div class="header clearfix">
            <a href=""><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
            {% block menu %}
                {% include 'firstapp/includes/inc__main_menu.html' %}
            {% endblock %}
        </div>
        <div class="slider-text">
            <p class="slider-trending">TRENDING</p>
            <h2 class="slider-h2">Fishnet Chair</h2>
            <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in
                matt powder-coated black.</p>
            <a href="#" class="button">Order Us ></a>
        </div>
        <div class="pagination">

            <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
        </div>
    </div>

    <div class="featured padding-site">
        <div class="featured-header clearfix">
            <ul class="featured-menu clearfix">
                <li class="featured-list featured-link-active"><a href="#">Featured</a>
                    <hr>
                </li>
                <li class="featured-list"><a href="#">New</a>
                    <hr>
                </li>

            </ul>


            <a href="#" class="featured-link">EXPLORE ALL ></a>
        </div>

        {% block featured_main %}
            <div class="featured-main">
                {% for product in products %}
                    <div class="featured-prod">
                        <div class="featured-back">
                            <div class="featured-background">
                                <img class="featured-background" src="/static/img/back.png" alt="back">
                            </div>
                            <div class="featured-back-circle">
                                <img src="/static/img/back-circle.jpg" alt="circle" class="circle-back">
                            </div>

                            <div class="featured-text">
                                <h2 class="featured-h2">{{ product.name }}</h2>
                                <p class="featured-content">Seat and back with upholstery made of cold cure foam</p>
                            </div>
                        </div>

                        <div class="featured-front">
                            <img src="{{ product.image.url }}" alt="prod1">
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endblock %}
    </div>
    <!--endFetured-->
    <div class="exclusive-block clearfix">
        <div class="exlusive-prod1">
            <img src="{% static 'img/promo-img1.jpg' %}" alt="promo1">
            <div class="exlusive-text">
                <p class="exclusive-header">EXCLUSIVE</p>
                <h2 class="exlusive-h2">Fishnet Chair</h2>
                <p class="exlusive-content">Seat and back with upholstery made of cold cure foam. Steel frame, available
                    in matt</p>
                <a href="#" class="button exclusive-button">Order Us ></a>
            </div>


        </div>
        <div class="exlusive-prod2 clearfix">
            <img src="{% static 'img/promo-img2.jpg' %}" alt="promo2">
            <div class="exlusive-text">
                <p class="exclusive-header">EXCLUSIVE</p>
                <h2 class="exlusive-h2">Fishnet Chair</h2>
                <p class="exlusive-content">Seat and back with upholstery made of cold cure foam. Steel frame, available
                    in matt</p>
                <a href="#" class="button exclusive-button">Order Us ></a>
            </div>
        </div>
    </div>

    <div class="trending-prod clearfix padding-site">
        <div class="trending-header clearfix">
            <p class="tranding-menu">Trending Products</p>
            <a href="#" class="trending-link">EXPLORE ALL ></a>
        </div>

        <div class="trending-raw-1">
            <img src="{% static 'img/trand-product-1.jpg' %}" alt="trand-product-1" class="tranding-img"><img
                src="{% static 'img/trand-product-2.jpg' %}" alt="trand-product-2" class="tranding-img"><img
                src="/static/img/trand-product-3.jpg" alt="trand-product-3" class="tranding-img">
        </div>
        <div class="trending-raw-2">
            <img src="{% static 'img/trand-product-4.jpg' %}" alt="trand-product-4" class="tranding-img"><img
                src="{% static 'img/trand-product-5.jpg' %}" alt="trand-product-5" class="tranding-img"><img
                src="/static/img/trand-product-6.jpg" alt="trand-product-6" class="tranding-img">
        </div>
    </div>
    <div class="hotdeal-block clearfix">
        <img src="{% static 'img/exclusive.jpg' %}" alt="promo1">
        <div class="hotdeal-text">
            <p class="hotdeal-header">Hot deal</p>
            <h2 class="hotdeal-h2">Fishnet Chair</h2>
            <p class="hotdeal-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in
                matt powder-coated black</p>
            <a href="#" class="button exclusive-button">Order Us ></a>
        </div>
        <div class="pagination2">
            <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
        </div>
    </div>

    <div class="exclusive-2-block-container padding-site">
        <div class="exclusive-2-block">
            <div class="exclusive-2-left">
                <img src="{% static 'img/exclusive-2-left.jpg' %}" alt="exclusive-2-left">
                <div class="exclusive-2-text">
                    <p class="exclusive-2-header">EXCLUSIVE</p>
                    <h2 class="exclusive-2-h2">Fishnet Chair</h2>
                    <p class="exclusive-2-content">Seat and back with upholstery made of cold cure foam. Steel frame,
                        available in matt</p>
                    <a href="#" class="button exclusive-2-button">Order Us ></a>
                </div>

            </div>
            <div class="exclusive-2-right">
                <div class="exclusive-raw-1">
                    <img src="{% static '/img/exclusive-2-right1.jpg' %}" alt="exclusive-2-right1"
                         class="exclusive-img"><img src="{% static 'img/exclusive-2-right2.jpg' %}"
                                                    alt="exclusive-2-right2" class="exclusive-img">
                </div>
                <div class="exclusive-raw-2">
                    <img src="{% static 'img/exclusive-2-right3.jpg' %}" alt="exclusive-2-right3" class="exclusive-img"><img
                        src="{% static 'img/exclusive-2-right4.jpg' %}" alt="exclusive-2-right4" class="exclusive-img">
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-app">
        <img src="{% static 'img/mobile-back-img.jpg' %}" alt="mobile-back-img">
        <div class="mobile-text">
            <p class="mobile-header">mobile app</p>
            <h2 class="mobile-h2">Find. Follow. Favorite</h2>
            <p class="mobile-content">Save your favorites and share your style.</p>
            <div class="mobile-store-link clearfix">
                <a href="#"><img src="{% static '/img/app-store.png' %}" alt="app-store"></a><a href="#"><img
                    src="{% static 'img/google-play.png' %}" alt="google-play"></a>
            </div>
        </div>
    </div>
    <div class="footer padding-site">
        <div class="footer-text-columns">
            <div class="footer-text-col1">
                <h2>Contact Us</h2>
                <p>132A Bridge Road Richmond VIC
                    Australia.</p>
                <p>
                    Talk to us on 1300 132
                    info@interior.com</p>
            </div>
            <div class="footer-text-col2">
                <h2>Useful Information</h2>
                <a id="first-foot-link" href="#">Sales terms</a>
                <a href="#">Customer care</a>
                <a href="#">Delivery</a>
            </div>
            <div class="footer-text-col3">
                <a href="#">Architect accounts</a>
                <a href="#">Careers</a>
                <a href="#">Exchanges &amp; returns</a>
            </div>
            <div class="footer-text-col4">
                <h2>Let’s Stay in Touch!</h2>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <input type="text" class="email" placeholder="your email address">
            </div>
        </div>
        <div class="footer-social">
            <p>&copy; Copyright - INTERIOR 2016. All Rights Reserved.</p>
            <div class="social-buttons-link">
                <a class="soc-links" href="#"><i class="fab fa-facebook"></i></a> <!-- uses brands style -->
                <a class="soc-links" href="#"><i class="fab fa-twitter"></i></a> <!-- uses brands style -->
                <a class="soc-links" href="#"><i class="fab fa-google-plus"></i></a> <!-- uses brands style -->
                <a class="soc-links" href="#"><i class="fab fa-youtube"></i></a> <!-- uses brands style -->
            </div>
            <p id="privat-privasy">Terms &amp; Conditions / Privacy policy &amp; Cookies</p>
        </div>
    </div>
</div>
</body>

</html>