<!DOCTYPE html>
{% extends 'firstapp/base.html' %}
{% load static %}

{% block conteiner %}
    <div class="container">
        <div class="contact-header menu-container clearfix padding-site">
            <a href=""><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
            {% block menu %}
                {% include 'firstapp/includes/inc__main_menu.html' %}
            {% endblock %}

            </ul>
            <p class="contact">Продукты по категориям</p>
        </div>
        <div class="catalog-img-table">
            <div class="product-header clearfix padding-site">
            {% include 'firstapp/includes/inc__category_menu.html' %}
            </div>
            <div class="blocks padding-site clearfix">
                <div class="block-img1">
                    <div class="block"><img src="{% static 'img/interior1.jpg' %}" alt="product-1"></div>
                    <div class="block"><img src="{% static 'img/interior2.jpg' %}" alt="product-2"></div>
                    <div class="block"><img src="{% static 'img/interior3.jpg' %}" alt="product-3"></div>
                </div>
                <div class="block-img2">
                    <div class="block2"><img src="{% static 'img/interior4.jpg' %}" alt="product-4"></div>
                    <div class="block2"><img src="{% static 'img/interior5.jpg' %}" alt="product-5"></div>
                    <div class="block2"><img src="{% static 'img/interior6.jpg' %}" alt="product-6"></div>
                </div>
                <div class="block-img3">
                    <div class="block3"><img src="{% static 'img/interior7.jpg' %}" alt="product-7"></div>
                    <div class="block3"><img src="{% static 'img/interior8.jpg' %}" alt="product-8"></div>
                    <div class="block3"><img src="{% static 'img/interior9.jpg' %}" alt="product-9"></div>
                </div>
                <div class="block-img4">
                    <div class="block4"><img src="{% static 'img/interior10.jpg' %}" alt="product-10"></div>
                    <div class="block4"><img src="{% static 'img/interior11.jpg' %}" alt="product-11"></div>
                    <div class="block4"><img src="{% static 'img/interior12.jpg' %}" alt="product-12"></div>
                </div>
            </div>
            <div class="cicles-rows padding-site"><img src="{% static 'img/cicle-arrows.jpg' %}" alt="arrows"></div>
        </div>
        <div class="exclusive-block exclusive-block-prod clearfix">
            <div class="exlusive-prod1">
                <img src="{% static 'img/promo-img1.jpg' %}" alt="promo1">
                <div class="exlusive-text">
                    <p class="exclusive-header">EXCLUSIVE</p>
                    <h2 class="exlusive-h2">Fishnet Chair</h2>
                    <p class="exlusive-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="button exclusive-button">Order Us ></a>
                </div>



            </div>
            <div class="exlusive-prod2 clearfix">
                <img src="{% static 'img/promo-img2.jpg' %}" alt="promo2">
                <div class="exlusive-text">
                    <p class="exclusive-header">EXCLUSIVE</p>
                    <h2 class="exlusive-h2">Fishnet Chair</h2>
                    <p class="exlusive-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="button exclusive-button">Order Us ></a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
