<ul class="menu clearfix">
    <li class="menu-list"><a href="{% url 'main:index' %}" class="menu-link">ДОМОЙ</a></li>
    <li class="menu-list"><a href="{% url 'main:products' %}" class="menu-link menu-link-active">ПРОДУКТЫ</a></li>
    <li class="menu-list"><a href="{% url 'main:contacts' %}" class="menu-link">КОНТАКТЫ</a></li>
    {% if user.is_authenticated %}
        <li class="menu-list">
            <a href="{% url 'auth:update' %}" class="menu-link">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
    {% endif %}
    <li class="menu-list">
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}" class="menu-link">
                выход
            </a>
        {% else %}
            <a href="{% url 'auth:login' %}" class="menu-link">
                вход
            </a>
        {% endif %}
             {% if user.is_authenticated and basket %}
             <li class="menu-list">
                    <a href="{% url 'basket:index' %}" class="basket menu-link">
                        <span>{{ basket.0.total_cost|floatformat:0 }} руб
                            ({{basket.0.total_quantity}} шт)</span>
                    </a>
             </li>
    {% endif %}
    </li>
    <li class="menu-list"><a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a>
    </li>
</ul>